body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CDFCF6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 0px;
}

.winner {
  align-self: center;
}

.player1 {
  color: #fdca40;
  align-self: center;
}

.player2 {
  color: #df2935;
  align-self: center;
}

.restart {
  background-color: #023047;
  border-radius: 7px;
  padding: 5px;
  color: #fdf2f2;
  font-size: 20px;
}

.smallYellow {
  background-color: #fdca40;
  border-radius: 100%;
  border: solid;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-color: gray;
}

.smallRed {
  background-color: #df2935;
  border-radius: 100%;
  border: solid;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-color: gray;
}

.smallWhite {
  background-color: white;
  border-radius: 100%;
  border: solid;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-color: gray;
}

.matrix {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  background-color: #43bccd;
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

.playerTurn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  color: #023047;
  padding-top: 0px;
}

.upThingy {
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 10px;
  border-style: solid;
  border-color: #43bccd;
}

.downThingy {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 25px;
  border-style: solid;
  border-color: #43bccd;
  border-width: 0.5px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: center;
  border-top: -30px;
}

.logo {
  width: auto;
  height: 30px;
}

@keyframes rebota {
  0% {transform: translateY(-300px)}
  20%, 45%, 80%, 100% {transform: translateY(0);} 
  35% {transform: translateY(-25px);}
} 

@media only screen and (min-width: 600px) {
  .circle {
    border-radius: 100%;
    border: solid;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-color: gray;
  }

  .yellow {
    background-color: #fdca40;
    animation: rebota 1s ease-in-out;
  }

  .red {
    background-color: #df2935;
    animation: rebota 1s ease-in-out;
  }

  .white {
    background-color: white;
  }

  .title {
    font-size: 50px;
    margin: 0px;
    color: #023047;
  }
}

@media only screen and (max-width: 600px) {
  .circle {
    border-radius: 100%;
    border: solid;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-color: gray;
  }

  .yellow {
    background-color: #fdca40;
    animation: rebota 1s ease-in-out;
  }

  .red {
    background-color: #df2935;
    animation: rebota 1s ease-in-out;
  }

  .white {
    background-color: white;
  }

  .title {
    font-size: 2rem;
    margin: 0px;
    color: #023047;
  }
}

/* 
otra tipografía. el turno que no sea en negritas
*/
